//tout ce qui conserne le body h1/h2 a ect......
@use "../abstracts/variables" as variables;

body {
    background-color: variables.$bg-body;
    font-family: variables.$font ;
    margin: 0;
}

h1 {
    font-family: variables.$font-italic;
    font-size: 36px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    color: variables.$color-second;
    letter-spacing: 2px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;

}

p {
    font-size: 18px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
}