//tout ce qui conserne le body h1/h2 a ect......
@use "../abstracts/variables" as variables;

body {
    background-color: variables.$bg-body;
    font-family: variables.$font ;
    margin: 0;
}

h1 {
    font-family: variables.$font-italic;
    font-size: 48px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    color: variables.$color-second;
}

p {
    font-size: 18px;
}