 @font-face {
     font-family: 'EB_Garamond_it';
     src: url(../fonts/EBGaramond-Italic-VariableFont_wght.ttf);
 }

 @font-face {
     font-family: 'EB_Garamond';
     src: url(../fonts/static/EBGaramond-Regular.ttf);
 }

 @font-face {
     font-family: 'Comorant_Garamond';
     src: url(../fonts/CormorantGaramond-Regular.ttf);
 }