// tout ce qui est tipo , color, bg
//font
$font-italic: 'EB_Garamond_it';
$font: 'EB_Garamond';
$font-button: 'Comorant_Garamond';

//color bg
$bg-body: #3E2C23;
$bg-header: #2B1E17;
$bg-footer: #2A2F4F;
$bg-card: #F5E8C7;
$bg-button: #3A775A;

//color text
$color-header-footer: #D4AF37;
$color-primo: #1B1B1B;
$color-button: #F5E8C7;
$color-second: #6A1B4D;
$color-trio: #2A2F4F;

//hover
$hover-lien: #3A775A;
$hover-button: #4DAF89;