@use "../abstracts/variables" as variables;

main {
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        width: 70vh;
        background-color: variables.$bg-card;

        color: variables.$color-trio;
        margin-top: 2rem;
        border-radius: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;


        form {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            input {
                font-family: variables.$font;
            }
        }
    }
}